
main {
    position: absolute;
    max-width: 1000px;
    opacity: 0;
}

main.loaded {
    transition: opacity .25s linear;
    opacity: 1;
}

main .loaders {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

main .loaders .loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

@-webkit-keyframes ball-scale-multiple {
    0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 0;
    }
    5% {
            opacity: 1;
    }
    100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0;
    }
}

@keyframes ball-scale-multiple {
    0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 0;
    }
    5% {
            opacity: 1;
    }
    100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0;
    }
}

.ball {
    position: relative;
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
}

.ball>div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.ball>div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.ball>div {
    background-color: #8492a6;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    left: -18px;
    top: 0px;
    opacity: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1s 0s linear infinite;
}