.container {
  border-radius: 7px;
  background: #dff0d8;
  color: #3c763d;
}

.body {
  font-family: 'Titillium Web';
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.progress {
  background: #3c763d;
}
