.content__body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.content__icon {
  font-size: 28px;
  padding-right: 15px;
}

.content__icon svg {
  height: 100%;
}
