.container {
  border-radius: 7px;
  background: #ff7878;
  color: #a94442;
}

.body {
  font-family: 'Titillium Web';
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.progress {
  background: #a94442;
}
