.container {
  border-radius: 7px;
  background: #eff2f7;
  color: #091e42;
}

.body {
  font-family: 'Titillium Web';
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.progress {
  background: #eff2f7;
}
