<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" data-aid="favicon-link" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script data-aid="js-script" type="text/javascript">window.cdnUrl = '/';</script>
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
  <title>Test Project</title>
</head>

<body>
  <div id="root"></div>
  <% for (key in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" data-aid="js-link" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
  <% } %>
</body>

</html>
