@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
html, body {
    /* default browser is 8px, so reset to 0. */
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.font-semibold {
    font-weight: 600;
}

.bg-dark-gray {
    background-color: #333;
}

.nav-link { color: #fff}
.nav-link:hover{ color:orange;}
.custom-dd {
    background-color: #e4e4e4;
}
.custom-dd.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .5em solid;
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;
    right: 13px;
    position: absolute;
    top: 13px;
}

.img-xs {
    width: 37px;
    height: 37px;
}

.nevbar-main {
    padding: 0
}

.navbar-brand-wrapper {
    width: 122px;
    background: #333333;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-menu-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 122px);
    height: 72px;    
    background: #fff;
    border-color: #e4e4e4;
}

.page-body-wrapper {
    min-height: calc(100vh - 63px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
}

.sidebar {
    background: #333333;
    width: 122px;
    position: absolute;

height: 100%; 
left: 0
}

.content-wrapper {  
    padding: 1.5rem 1.7rem;
    width: 100%;
    height: 100%;

}

.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    min-height: calc(100vh - 63px);
    width: 100%;
    padding: 0 50px 0 122px;
}

.m-b-30{ margin-bottom: 30px;}

.right-bar{ position: absolute;
    right: 50px;
    width: 350px;
    background: #f0f0f0;
    top: 0;
    height: 100%;
}
.right-search{    background-color: #e4e4e4;}

.right-search .form-control{ border:0; border-radius: 0;  background-color: #e4e4e4;  height: 50px;}
.right-search .form-control:focus{ box-shadow: none;}
.right-search .input-group-prepend{
    padding: 15px 15px;
    height: 50px;
    font-size: 20px;
}

.order-item-container {
    overflow-x: hidden;
    overflow-y: auto;
}
.back-button {
    float: left;
    background: transparent;
    border: 0;
    cursor: pointer;
}